* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#wrapper {
  display: flex;
  align-items: center;
}

#left {
  width: 50%;
  background-color: rgb(19, 19, 19);
  height: 100vh;
  padding-left: 80px;
  padding-top: 100px;
}

img {
  width: 50%;
}

form > div {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
  font-size: 12px;
  padding-bottom: 6px;
}

.text-input {
  background-color: rgb(35, 35, 35);
  border: 1px solid white;
  height: 40px;
  width: 80%;
}

.primary-btn {
  width: 80%;
  background-color: rgb(0, 94, 255);
  border: none;
  height: 40px;
  margin-top: 20px;
  font-weight: bold;
}

#links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 14px;
}

#links > a {
  width: 80%;
  text-align: center;
  color: rgb(0, 94, 255);
}

.hr {
  width: 80%;
  margin-top: 20px;
  background-color: white;
}

.secondary-btn {
  margin-top: 20px;
  width: 80%;
  height: 40px;
  background-color: grey;
  border: none;
  font-weight: bold;
}

#main-footer {
  margin-top: 20px;
  font-size: 12px;
  width: 80%;
  text-align: center;
}

#main-footer > a {
  margin-top: 10px;
}

#right {
  background-image: url(https://image.ibb.co/cO9Lxq/login-bg.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#showcase-content > h1 {
  font-size: 42px;
  font-weight: 400;
}

#showcase-content > button {
  width: 80%;
}
